= content_for :page_header do
  %section.dark-bg
    .container.inner-top-xs.inner-bottom-xs
      .row
        .col-md-12
          %h1.m-t-0.m-b-0 
            = page_title
          %p
            Admin

