%section.tint-bg.img-bg-softer.pattern-bg-3.m-h-xl
  .row
    .col-md-10.p-h-lg.center-block.text-center
      %header
        %h2= @title
        %p= @body
      = link_to @button, content_magnet_subscribe_url(@magnet), class: 'btn js-getContentMagnet'
